<div class="container">
<div class="row" style="margin-top: 3%;">
    <h1>Editing event</h1>

    <%= render "form", event: @event %>

    <div style="margin-top: -8rem;">

      <%= link_to "Back to all posts", events_path, style: "background-color: #39023A; color: #ffffff; padding: 8.8px 30px; text-decoration: none; border-radius: 5px; margin: 5.4rem 12rem 0rem 3rem; float: right;" %>

      <%= link_to "Back", @event, style: "background-color: #39023A; color: #ffffff; padding: 8.8px 30px; text-decoration: none; border-radius: 5px; margin: 5.4rem 0rem 0rem 0rem; float: right;" %> 
      
    </div>
    <br />
    <br />
  </div>
</div>
