<div class="container">
  <div class="row"> 
    <div class="col" style="margin-top: 3%;">   
      <h1>Create New Event</h1>

      <%= render "form", event: @event %>

      <div>
        <%= link_to "Back", events_path, style: "background-color: #39023A; color: #ffffff; padding: 8px 30px; text-decoration: none; float: right; border-radius: 5px; margin: 8rem 3rem 0rem 0rem;" %>
      </div>
    </div>
  </div>
</div>
