<div class="main-page container", style="margin-top: 3%;">
    <div class="row">
        <div class="col-4">
            <h1 class="main-page-title">BChainChat</h1>
            <br />
            <p class="about-us">Want to connect with other Blockchain enthusiasts?
            <br />
            Read blogs about the world of Blockchain?
            Get easy access to all events related to Blockchain?
            <br />
            <br />
            Then you found the perfect application. Here we let you create an account, then Sign in with MetaMask wallet and start chatting, posting, RSVP to events or just brows through other users posts!</p>
            <br />
            <p class="login-paragraph"> So what are you waiting for.....Login or sign up to start exploring the amazing world of Blockchain!</p>
        </div>

        <div class="col-4 ">
            <%= image_tag 'landing_page_1.jpg', style: "margin: 18%; width: 50vh; height: 30vh;"%>
        </div>
    </div>
</div>

