<div id="<%= dom_id post %>">

  <div class="user-id">
    <p>
      <strong>User:</strong>
      <%= post.user %>
    </p>
  </div>

  <div class="post-date">
    <p>
      <strong>Post date:</strong>
      <%= post.post_date %>
    </p>
  </div>

  <div class="comment">
    <p>
      <strong>Comment:</strong>
      <%= post.comment %>
    </p>
  </div>
</div>
