<div class="container rounded bg-white mt-5 mb-5 main-container">

  <div class="row">
    <div class="col-md-8 border-right">
      <div class="row mt-2">
        <h3>Edit Post</h3>
        <div class="col-md-10 form-control", style=" margin: 2% 2% 10% 1.5%;">

          <%= render "form", post: @post %>

        </div>
      </div>
    </div>
    <div>
      <%= link_to "Back to posts", posts_path, style: "background-color: #39023A; color: #ffffff; padding: 8px 25px; text-decoration: none; border-radius: 8px;" %>
    </div>
  </div>
</div>