<div class="container">

  <div class="row">
    <div class="col-12">
      <div class="row mt-2">
        <h3>Edit Post</h3>
        <div >
          <%= render "form", post: @post %>

        </div>
      </div>
    </div>
    <div>
      <%= link_to "Back to posts", posts_path, style: "background-color: #39023A; color: #ffffff; padding: 8px 25px; text-decoration: none; border-radius: 5px;" %>
    </div>
  </div>
  <br />
  <br />
</div>