<div class="container">
  <div class="row">
    <div class="col" style="margin-top: 3%;">
      <h3>Create New Post</h3>

      <%= render "form", post: @post %>
      <br />
    </div>
    <div>
      <%= link_to "Back to posts", posts_path, style: "background-color: #39023A; color: #ffffff; padding: 8px 25px; text-decoration: none; border-radius: 5px;" %>
    </div>
  </div>
  <br />
  <br />
</div>
